<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <div class="main">
      <div class="left-content">
        <%- include('./includes/header') %>
        <%- include('./includes/footer') %>
      </div>
      <div class="main-content">
        <div class="right-content">
         <div class="myinfo">
           <p>前端菜鸡😜</p>
           <p>目前在大二</p>
           <p>交流邮箱497350746@qq.com</p>
         </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="./../media/scripts/button.js"></script>
