<html>
  <header>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </header>
 <body>
  <%- include('./includes/header') %>
   <div class="about-page">
    前端菜鸡哈哈哈
   </div>
 </body>
</html>

